* {
  font-family: 'Inter', sans-serif;
  /* TODO: Add the following lines to remove the default padding and margin in all the tags */
/*   
  margin: 0px;
  padding: 0px; */
}

body {
  margin: 0px;
  padding: 0px;
  /* display: flex; */
  background-color: azure;
}
.main {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
.mainContainer {
  /* margin-top: 30px;       <-- Try to avoid using px, use rem instead. 1rem = 16px */
  margin-top: 1.8rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: rebeccapurple 2px solid ; */
  height: 400px;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0px 1px 8px -1px #a69b9b;
}
.gitLocator {
  /* color: black;    <-- Default color is already black. No need to specify */
  font-size: 26px;
}
.input {
  /* color: black; */
  border-top: 0px;
}

.input > input {
  padding: 0.8rem;
  border: none;
  border-radius: 0.4rem;
  background-color: #ececec;;
}

.para {
  color: black;
}

.btn {
  /* border: 2px solid red; */
  padding: 0.8rem 1rem;
  border-radius: 0.4rem;
  border-style: none;
  cursor: pointer;
  font-weight: 600;
  background-color: rgb(124 255 218);
}

.btn:hover {
  box-shadow: 0px 1px 8px -1px #a69b9b;
}

.instructions {
  margin-top: 20px;
}
